* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: raleway-c;
  src: url(../../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
  font-family: outfit-c;
}

.content, .hero, .main-header, .gallery > * {
  will-change: transform;
}

body {
  background-color: #647B52;
  color: #DFD9D6;
  font-family: raleway-c;
  overflow-x: hidden;
}

.hero-img {
  position: absolute;
  width: calc((1dvw + 1dvh) * 22);
  left: 47dvw;
  top: calc((1dvw + 1dvh) * 5);
  z-index: 0;
  border-radius: 8px;
}

.container {
  padding: 0 5vw;
}

.name-header {
  height: 100dvh;
}

.name-hero {
  position: absolute;
  font-size: calc((1dvw + 1dvh) * 5);
  z-index: 1;
  width: min-content;
  bottom: 15vh;
  line-height: 0.9;
}

.gallery {
  display: flex;
  padding: calc((1dvw + 1dvh) * 5) 0;
}

.gallery > * {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gallery__item {
  border-radius: 8px;
  margin-bottom: calc((1dvw + 1dvh) * 4);
  max-width: calc((1dvw + 1dvh) * 21);
  max-height: 95vh;
}

.gallery__left {
  margin-top: calc((1dvw + 1dvh) * 6);
}

.gallery__right .gallery__item {
  margin: 0;
  margin-top: calc((1dvw + 1dvh) * 4);
}

.text-block {
  color: #DFD9D6;
  position: relation;
}

.text-block__h {
  font-size: 2rem;
  line-height: 2.2rem;
  color: #F0F0F0;
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 800px) {
  .gallery__item {
    max-width: calc((1dvw + 1dvh) * 17);
  }
}
@media only screen and (max-width: 768px) {
  .text-block__h {
    font-size: 1.9rem;
    line-height: 1.8rem;
  }
  .text-block__p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .hero-img {
    left: 40dvw;
  }
  .name-hero {
    top: calc((1dvw + 1dvh) * 38);
  }
  .gallery__item {
    max-width: calc((1dvw + 1dvh) * 16);
  }
  .text-block__h {
    font-size: 1.8rem;
    line-height: 1.7rem;
  }
  .text-block__p {
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
}
@media only screen and (max-width: 500px) {
  .hero-img {
    left: 35dvw;
  }
  .name-hero {
    top: calc((1dvw + 1dvh) * 39);
  }
  .gallery__item {
    max-width: calc((1dvw + 1dvh) * 15);
  }
  .text-block__h {
    font-size: 1.7rem;
    line-height: 1.6rem;
  }
  .text-block__p {
    font-size: 0.6rem;
    line-height: 0.9rem;
  }
}
@media only screen and (max-width: 450px) {
  .hero-img {
    left: 30dvw;
  }
  .name-hero {
    top: calc((1dvw + 1dvh) * 41);
  }
  .gallery__item {
    max-width: calc((1dvw + 1dvh) * 14);
  }
  .text-block__h {
    font-size: 1.6rem;
    line-height: 1.5rem;
  }
  .text-block__p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
@media only screen and (max-width: 380px) {
  .hero-img {
    left: 27dvw;
  }
  .gallery__item {
    max-width: calc((1dvw + 1dvh) * 12);
  }
  .text-block__h {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
  .text-block__p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}/*# sourceMappingURL=style.css.map */